<ion-header>
  <ion-navbar>
    <ion-title>
      Release 1.0.4
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let local of locais">
    <ion-card-content>
      <div class="banner" [ngStyle]="{'background-image': 'url(' + local.banner + ')'}"></div>
      <button ion-button (click)="detail()" class="button-detail">
        <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
      </button>
      <div class="resume">
        <h3>{{ local.nome }}</h3>
        <span>{{ local.resume }}</span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
