page-home {
  .card {
    border-radius: 8px;

    .card-content {
      padding: 0px;
      position: relative;

      .banner {
        width: 100%;
        height: 150px;
        border-radius: 8px 8px 0px 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .button-detail {
        width: 50px;
        height: 50px;
        top: 124px;
        left: 16px;
        margin: 0px;
        padding: 0px;
        border-radius: 50%;
        position: absolute;
      }

      .resume {
        padding: 16px;

        h3 {
          width: 100%;
          font-size: 26px;
          margin-top: 28px;
          font-weight: bold;
          display: block;
          color: #888;
        }

        span {
          width: 100%;
          font-size: 14px;
          margin-top: 6px;
          display: block;
          color: #aaa;
        }
      }
    }
  }

  // Modal detail ---
}
